.App{
  border: 2px solid black;
  width:80%;
  height: auto;
  margin-left: 10%;
  
}
.haha1{
  overflow: auto;
  border: 2px solid red;
}
.haha2{
  grid-template-columns: 33,33% 33,33% 33,33%;
  overflow: auto;
  width: 33,33%;
  height: 3in;
}
.haha3{
  border: 2px solid red;
  /* width: 33,33%; */
  height: 3in;
}
.haha4{
  border: 2px solid blue;
  height: 3in;
  /* width: 33,33%; */
}
.haha5{
  border: 2px solid green;
  height: 3in;
  /* width: 33,33%; */
}

